<div class="container">
	<div class="bs-component">
		<div class="jumbotron text-center">
			<img src="assets/img/logo.jpg" height="220" alt="Angular2.js">
			<h1 class="page-header">Welcome to the Angular2 Playground</h1>
		</div>
	</div>
</div>

<p>The angular2 playground is a simple tool to help get you introduced to angular2 design patterns and quirks. Along the way
	you will likely find things you enjoyed doing the old Angular way but but the overall framework improvements, organization,
	and use of TypeScript that Angular2 brings to the table are well worth the learning curve.</p>

<p>With the power and speed that angular2 lends to us as developers when can quickly start writting full scale applications
	all while keeping our code clean and organized and now type sensitive with ease.</p>

<p>Angular2 offers many other benefits than just the ones discussed in this playground for more information read up at <a href="https://angular.io/"
	target="_blank">Angular.io</a></p>

<hr>
<div>
	<h2>The requirements</h2>
	<blockquote>
		<p>Good Questions are hard to come by… and their answers even more so. As your client I am requesting you to build me an application
			that will be the next best thing since sliced bread. <strong>StackUnderflow patent-pending</strong></p>
	</blockquote>
	<h2>My Application will need the following features.</h2>
	<ol>
		<li>A place for users to post questions.</li>
		<li>Each question should be able to have its own list of responses and comments.</li>
		<li>Each Response can have its own list of comments.</li>
		<li>Responses can be marked as solutions.</li>
		<li>Questions, Responses, and comments can be upvoted or downvoted and should be ordered according to the most votes.</li>
		<li>Questions should also be sortable by date.</li>
		<li>Questions should be able to have topic tags attached to help with searching.</li>
		<li>A search bar should be availble and will filter the questions based upon the query.</li>
	</ol>
	<h2>Getting Started</h2>
	<blockquote>
		<p>Before diving straight into the code. Plan out each feature. Think about the controllers and views that you will need to
			accomplish each of these tasks.</p>
	</blockquote>
	<ul>
		<li>Put together an Angular App and make sure you can get {{2+2}} to print out 4.</li>
		<li>Then add your first controller and make sure you can get a $scope.test to show up at the view.</li>
		<li>Focus on each feature one at a time…
			<ul>
				<li>Remember that one of the benefits of using angular is having individual components that all work together.</li>
			</ul>
		</li>
	</ul>
</div>